{% extends 'base.html' %}

{% block content %}
<h1>Welcome to SeaRatesScraper!</h1>
<div class="row">

  <div class="column">
    <p>Scraping data about ports around the word! Powered by Python, flask, sqlite, jinja and BeautifulSoup</p>
    <p>Made by Adam Pech as a project for Python subject on Mendelu 2022</p>
  </div>
</div>



<div class="center">
<button type="button" name="button" id="main-button"><a href="{{ url_for('scrape') }}">Read all info!</a></button>
<button type="button" name="button" id="main-button"><a href="{{ url_for('download') }}">Download all info!</a></button>
</div>
{% endblock %}
